<h1>Add a room</h1>
<form action="/rooms" method="post">

	<label for="">Name: </label>
	<input type="text" name="name">

	<input type="number" name="price">
	<label for="">Price: </label>

	<button type="submit">Add this room</button>

</form>